.info{
background-color:#383a3a;
/* opacity: 0.66; */
width: 1300px;
height: 400px;
padding-top: 50px;
padding-left: 25px;
padding-right: 25px;
border-radius: 1rem;
border-color: #575a5b;
}

.mr-3{

  margin-left: 0.35rem;
}

p {
font-family: 'Montserrat', sans-serif;
}

.list-group-item{

  background-color: #575a5b;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #292b2b;
  color:white;
  font-family: 'Montserrat', sans-serif;
}
