

#submitBtn {
    font-family: 'Montserrat', sans-serif;

}
a {
    color:#ffc4e8;
    font-family: 'Text Me One', sans-serif;
    font-size: 22px;
}
#signin {
    font-family: 'Montserrat', sans-serif;
}
#email {
    font-family: 'Montserrat', sans-serif;
}
#password{
    font-family: 'Montserrat', sans-serif;
}
a {
  color:#ffc4e8;
  font-family: 'Text Me One', sans-serif;
  font-size: 22px;
}
#signin {
  font-family: 'Montserrat', sans-serif;
}
#email {
  font-family: 'Montserrat', sans-serif;
}
#password{
  font-family: 'Montserrat', sans-serif;
}
#footerfooter {
    height: 5rem;
}

#bordersignin {
    border-width:12px !important;
    border-color: #3a4547;
    border-radius: 10px;
}
.navbar-default a{
    color: #000000;
}

/* #signinboxcolor {
  background-color: #64c4d1;
  border-width:12px !important;
  border-radius: 10px;
} */

#signinboxcolor {
  background-color: #64c4d1;
}

body { background: #e8d5e3 !important;}
