

#submitBtn {
    font-family: 'Montserrat', sans-serif;

}
a {
    color:#ffc4e8;
    font-family: 'Text Me One', sans-serif;
    font-size: 22px;
}
#signin {
    font-family: 'Montserrat', sans-serif;
}
#email {
    font-family: 'Montserrat', sans-serif;
}
#password{
    font-family: 'Montserrat', sans-serif;
}

#signin {
  font-family: 'Montserrat', sans-serif;
}
#email {
  font-family: 'Montserrat', sans-serif;
}
#password{
  font-family: 'Montserrat', sans-serif;
}
#footerfooter {
    height: 5rem;
}

#bordersignin {
    border-width:12px !important;
    border-color: #3a4547;
    border-radius: 10px;
}
.navbar-default a{
    color: #000000;
}

/* #signinboxcolor {
  background-color: #64c4d1;
  border-width:12px !important;
  border-radius: 10px;
} */

#signinboxcolor {
  background-color: #64c4d1;
}

body { background:url("/Applications/XAMPP/xamppfiles/htdocs/database-project/img/loginback.jpg") !important;
background-size: 1440px 800px !important;
 background-repeat:no-repeat;
 display: cover;}

/* !important;} */
