
html, body {
  height: 100%
}

#submitBtn {
  color:#ffc4e8;
  font-family: 'Montserrat', sans-serif;

}
a {
  color:#ffc4e8;
  font-family: 'Text Me One', sans-serif;
  font-size: 22px;
}
#signin{
  font-family: 'Montserrat', sans-serif;
}
#email{
  font-family: 'Montserrat', sans-serif;
}
#password{
  font-family: 'Montserrat', sans-serif;
}
#footer1 {
    position:relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top:20px;
    color: purple;
}
/* h1 {
    color: blue;
}
p {
    color: red;
} */
