

#submitBtn {
    font-family: 'Montserrat', sans-serif;

}
/* a {
    color:#ffc4e8;
    font-family: 'Text Me One', sans-serif;
    font-size: 22px;
} */
#signin {
    font-family: 'Montserrat', sans-serif;
}
#email {
    font-family: 'Montserrat', sans-serif;
}
#password{
    font-family: 'Montserrat', sans-serif;
}

#signin {
  font-family: 'Montserrat', sans-serif;
}
#email {
  font-family: 'Montserrat', sans-serif;
}
#password{
  font-family: 'Montserrat', sans-serif;
}
#footerfooter {
    height: 5rem;
}

#bordersignin {
    border-width:12px;
    border-color: #3a4547;
    border-radius: 10px;
    opacity:0.90;
}
/* .navbar-default a{
    color: #000000;
} */

/* #signinboxcolor {
  background-color: #64c4d1;
  border-width:12px !important;
  border-radius: 10px;
} */

#signinboxcolor {
  background-color: #3a4547;
  border-width:12px;
  /* opacity:0.90; */
}

.loginbackground {
background:url("../templates/loginback2.jpg");
background-size: 1440px 800px;
background-repeat:no-repeat;
display: cover;
/* background-color: #3a4547; */
}
