.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-body {
    height: 10vw;
    object-fit: cover;
}

.card-text{

  font-size: 12px;
  color: black;
  font-family: 'Montserrat', sans-serif;

}
.card-title{
font-size: 13px;
font-family: 'Montserrat', serif;
font-style: bold;
}
