{% extends 'layout-dashboard.html' %}

{% block title %}
Book
{% endblock %}

{% block script %}
<script src="{{ base_url() }}/../storage.js"></script>
{% endblock %}


{% block content %}
<!-- <div class = "container"> -->
<div class = "media mx-auto" style="width: 700px;"">
{% for p in product %}
<img class "align-self-center mr-3" src="{{ p.ImageUrl }}">
<div class="media-body">
<p>Title: {{ p.title }}</p>
<p>Author: {{ p.author }}</p>
<p>Edition: {{ p.edition }}</p>
<p>ISBN-10: {{ p.isbn10 }}</p>
<p>ISBN-13: {{ p.isbn13 }}</p>
<p>Publisher: {{ p.publisher }}</p>
<p>Price: {{ p.price }}</p>
{% endfor %}
<!-- </div> -->
</div>
</div>
{% endblock %}
