{% extends 'layout.html' %}

{% block title %}
Book
{% endblock %}

{% block script %}
<script src="{{ base_url() }}/../login.js"></script>
{% endblock %}


{% block content %}
<div class="row justify-content-md-center mt-5">

    <div class="card" style="width: 36rem;">
      <div class="p-3 mb-2 bg-info text-white">
        <div class="card-body" id = signinbox>
            <form>
                <h1 class="h3 mb-3 font-weight-normal" id = "signin">Please sign in</h1>
                <div class="form-group">
                    <label for="inputEmail" id = "email">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                           placeholder="Email Address">
                    <small id="emailHelp" class="form-text text-muted">
                    </small>
                </div>
                <div class="form-group">
                    <label for="inputPassword" id = "password">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button class="btn btn-lg btn-dark btn-block" id="submitBtn" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id = "footerfooter"></a>
    <!-- <div class="p-3 mb-2 bg-info text-white">
    </div> -->
  </div>
</nav>

</div>
{% endblock %}
