<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ base_url() }}/../index.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Text+Me+One" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/../homepage.css">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">


    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>
        var baseurl = "{{base_url()}}"
    </script>


</head>
<body>


<nav class="navbar-dark bg-dark site-header fixed-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="{{ base_url() }}">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIbSURBVGhD7Zm7L0NxFMcbtPwBuotRkFS8elUlWBFvg5hqEYtVaqv3oyLEI0wNQSJpomJo4lYsDMJAUq9gxGQx3uN3uJoqqXNvWvTmfJNP0rTnm/w+Sc/N7a2Jw+FwjJFCt81bOFAUJOJRa5pjdcmebFcoSMHaHfKqNXoKBmwH4oBAocBtC6g1zbG6QgFxQKAgZA7UGj0sojEsQo0eEZAzc2A/c4SEmMVO0kUaZsvDzfMSUKibKTvGDshZDnFIICFmsVMydH4sjV0AhdLhcBg7mtK74Xx2b1cDhZ415wN29Ig0+R4fXDsvQKFl9ekZO5rStijddq44gELrgv0MO3pEKicvz2rn7oGCc+r6FjuaomdHFL+lHrYygALOYudfLrviy+gBrwko4Cx2fl1EGiyGmomyNyRP8fci6+YuWE4DCjiLnViRnL5DyOs/eSO37yjxIp3LjshydyxVfCuiZ0diRaqmryPLXTt7xyKRJExk1/JO7PspJbIn+FhwfB39GYtoDItEH5ZFWORrWCT6sCzCIl9jWBHKbXwiRJJ+Gx+PRIrE4+9EZMHHz1t8/emzXxIxzMMHwzwOap6XrtoXJaDQNGc/xY7itzTCpvgaEcBZ7NhHL0+rpm/E1epnpPGLK+xoip4dSYmnKPGIiGyaO8CXDhRwFjupcdWKh7ojLEKNYUT0/BmqyOZ8Zd8SJCFmsZP0P0M5HA7nH8ZkegXY25l68s/8owAAAABJRU5ErkJggg==">
            PUNTO FIJO
        </a>
        <div id="mainNav">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url() }}/home-login">Login</a>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

{% block content%}
{% endblock %}
<nav class="navbar sticky-bottom navbar-dark bg-dark" id="footerfooter">
    <a class="navbar-brand" href="#"></a>
    <!-- <footer class="fixed-bottom"> -->
    {% block script %}{% endblock %}
</body>
</html>
