{% extends 'layout-dashboard.html' %}

{% block title %}
Storage
{% endblock %}

{% block script %}
<script src="{{ base_url() }}/../storage.js"></script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">


        {% for key, s in storage %}
        <div class="col-sm-2">
            <div class="card">
                <img class="card-img-top" src="{{ s.product.ImageUrl }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ base_url() }}/book/{{ s.product.id }}">{{ s.product.title }}</a>
                    </h5>
                    <p class="card-text">{{ s.count }} in stock</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}